<style>
  .vertical-list-item.fl-d {
    flex-direction: column;
    align-items: flex-start;
  }

  .vertical-list-item.sub-item {
    margin-left: 16px;
  }

  .input-text {
    align-self: normal;
    height: 24px;
    flex: 1;
    border-radius: 4px;
    margin-right: 16px;
    transition: all 100ms ease-out;
    padding-left: 5px;
    background-color: var(--overlay_active);
  }

  .input-text:last-child {
    margin-right: 0;
  }

  .disabled-input {
    pointer-events: none;
    opacity: 0.5;
  }

  .input-local-folder {
    cursor: pointer;
  }

  @media (prefers-color-scheme: light) {
    .text_color {
      color: black;
    }
  }

  @media (prefers-color-scheme: dark) {
    .text_color {
      color: white;
    }
  }
</style>

<setting-section data-title="Bots">
  <setting-panel>
    <span class="bot-panel-header"></span>
    <setting-list class="bot-list" data-direction="column"></setting-list>
  </setting-panel>
  <setting-modal class="create-bot-modal" data-title="创建 Bot">
    <setting-section>
      <setting-panel>
        <setting-list data-direction="column">
          <setting-item data-direction="column">
            <setting-text style="margin-right: 20px">名称</setting-text>
            <input
              placeholder="请输入 Bot 名称"
              class="input-bot-name input-text text_color"
              type="text"
              spellcheck="false"
            />
          </setting-item>
          <setting-item data-direction="column">
            <div>
              <div style="display: flex; align-items: center; margin-bottom: 2px">
                <setting-text>目录</setting-text>
                <setting-text data-type="secondary" style="margin-left: 5px; margin-right: 5px">-</setting-text>
                <setting-text data-type="secondary">留空则使用默认值</setting-text>
              </div>
              <input
                title="移除路径"
                placeholder="请选择 Bot 目录"
                class="input-local-folder input-text text_color"
                type="text"
                spellcheck="false"
                readonly
              />
            </div>
            <setting-button class="select-local-folder" data-type="secondary">选择</setting-button>
          </setting-item>
          <!-- <setting-item>
            <setting-text>Python 版本</setting-text>
            <setting-select>
              <setting-option data-value="3.9">3.9</setting-option>
              <setting-option data-value="3.10" is-selected>3.10</setting-option>
              <setting-option data-value="3.11">3.11</setting-option>
              <setting-option data-value="3.12">3.12</setting-option>
            </setting-select>
          </setting-item> -->
        </setting-list>
      </setting-panel>
      <div style="display: flex; justify-content: flex-end; gap: 5px; margin-bottom: 20px">
        <setting-button class="btn-close-modal" data-type="secondary">取消</setting-button>
        <setting-button class="btn-confirm-modal" data-type="primary">确定</setting-button>
      </div>
    </setting-section>
  </setting-modal>
</setting-section>

<setting-section data-title="需知">
  <setting-panel>
    <setting-list data-direction="column">
      <setting-item>
        <div>
          <setting-text>官方文档</setting-text>
          <setting-text data-type="secondary">https://nonebot.dev</setting-text>
        </div>
        <setting-button class="btn-official-website" data-type="secondary">进去瞅瞅</setting-button>
      </setting-item>
      <setting-item>
        <div>
          <setting-text>社区文档</setting-text>
          <setting-text data-type="secondary">https://x.none.bot</setting-text>
        </div>
        <setting-button class="btn-community-website" data-type="secondary">进去瞅瞅</setting-button>
      </setting-item>
    </setting-list>
  </setting-panel>
</setting-section>

<setting-section data-title="关于">
  <setting-panel>
    <setting-list data-direction="column">
      <setting-item>
        <div>
          <setting-text id="version">LiteLoader NoneBot</setting-text>
          <setting-text data-type="secondary"
            >在 QQ 上管理你的 NoneBot 应用 / Manage your NoneBot App on QQ</setting-text
          >
        </div>
        <setting-button class="btn-github" data-type="secondary">Github</setting-button>
      </setting-item>
      <setting-item>
        <div>
          <setting-text>开源协议</setting-text>
          <setting-text data-type="secondary">AGPL-3.0 license</setting-text>
        </div>
      </setting-item>
    </setting-list>
  </setting-panel>
</setting-section>
