<setting-section data-title="Bots">
  <setting-panel>
    <setting-list class="bot-list" data-direction="row"></setting-list>
  </setting-panel>
</setting-section>

<setting-section data-title="需知">
  <setting-panel>
    <setting-list data-direction="column">
      <setting-item>
        <div>
          <setting-text>官方文档</setting-text>
          <setting-text data-type="secondary">https://nonebot.dev</setting-text>
        </div>
        <setting-button class="btn-official-website" data-type="secondary">进去瞅瞅</setting-button>
      </setting-item>
      <setting-item>
        <div>
          <setting-text>社区文档</setting-text>
          <setting-text data-type="secondary">https://x.none.bot</setting-text>
        </div>
        <setting-button class="btn-community-website" data-type="secondary">进去瞅瞅</setting-button>
      </setting-item>
    </setting-list>
  </setting-panel>
</setting-section>

<setting-section data-title="关于">
  <setting-panel>
    <setting-list data-direction="column">
      <setting-item>
        <div>
          <setting-text>LiteLoader NoneBot</setting-text>
          <setting-text data-type="secondary">在 QQ 上管理你的 NoneBot 应用 / Manage your NoneBot App on QQ</setting-text>
        </div>
        <setting-button class="btn-github" data-type="secondary">Github</setting-button>
      </setting-item>
      <setting-item>
        <div>
          <setting-text>开源协议</setting-text>
          <setting-text data-type="secondary">AGPL-3.0 license</setting-text>
        </div>
      </setting-item>
    </setting-list>
  </setting-panel>
</setting-section>